.home-page {}

.home-page .text-box {
    padding: 20px;
}

.home-page .result-section {
    padding: 20px;
    font-size: 32px;
}

.home-page .sync-result .async-result {
    padding: 20px;
    font-size: 13px;
    text-align: center;
    background-color: #1f1f1f;
    color: white;
}